.navbar{
    background: rgb(149, 201, 221)!important;
    border-bottom: 4px solid deepskyblue;
}

.navbar a{
    font-size: 22px;
}
.showcase{
    background: url(mountains.jpg) no-repeat center / cover;
    height: 100vh;
    position: relative;
    
    
}
.overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

.showcase .container.row{
    height: 100%;
}
